.header{
   position: fixed;
	width: 100%;
	padding: 25px;
	background-color: rgb(221, 137, 235);
	z-index: 10;
   font-weight: 700;
   text-align: center;
   font-size: 40px;
}

.wrapper{
   position: relative;
   overflow: hidden;
   min-height: 100%;   
}

.home-work{
   background: url(../img/bg.jpg);
   position: relative;
   min-height: 100vh;   
   background-size: cover;
}

.car{
   top: 120px;
   width: 1000px;
   position: relative;
   left: 0;
}

.car:active{
   left:400px;
   transition: 3s;
}

.car__pic{
   position:relative ;
   top: 360px;
   background-image: url(../img/car.png);
   min-width: 1000px;
   min-height: 400px;
   background-size: cover;
   margin: 0 auto ;
}

.car__wheel--left{
   position: absolute;
   background: url(../img/wheel.webp);
   height: 170px;
   width: 170px;
   background-size: contain;
   left: 128px;
   bottom: -125px;
}

.car__wheel--right{
   position: absolute;
   background: url(../img/wheel.webp);
   height: 170px;
   width: 170px;
   background-size: contain;
  left: 72%;
   bottom: -120px;
  
}

.car__glass{
   position: absolute;
  
   opacity: 70%;
   left: 480px;
   top: 430px;
   border: 1px solid #000;
   border-radius: 48% 279% 81% 103% / 136% 109% 14% 12%;
   min-width: 150px;
   min-height: 55px;
   background-color: #fff;
   overflow: hidden;
   z-index: 2;
}

.car__glass:hover{
   top: 480px;
   transition: 3s;
}

.car__lable{
   position: relative;
   left: 470px;
   top: 85px;
   text-align: center;
   font-weight: 700;
   font-size: 60px;
   border: 1px solid #000;
   border-radius: 54% 46% 49% 51% / 0% 0% 100% 100% ;
   background-color: rgb(224, 237, 103);
   width: 169px;
   height: 100px;
   z-index: 3;
}

.car__homer{
   position: relative;
   background-image: url(../img/homer.png);
   height: 50px;
   width: 70px;
   background-size: cover;
   left: 480px;
   bottom: 69px;
   z-index: 1;  
}


.testing{
background-color: rgb(175, 230, 230);
padding-top: 30px;
z-index: 5;
}

.block{
   margin-bottom: 15px;
}

.title{
text-align: center;
font-weight: 900;
padding-bottom: 25px; 
font-size: 30px;
}

.block__item {
   padding: 15px;
   margin:0 auto 10px;
   text-align: center;
   border: 2px solid ;
   width: 600px;
   position: relative;
}

.block__item:last-child{
   margin-bottom: 0px;
}


.green{
   background-color: rgb(34, 87, 9)
}

.blue{
   background-color: rgb(28, 75, 231);
}

.grey{
   background-color: rgb(105, 103, 103);
}

.position__relative-item--blue{
   opacity: 50%;
   top: 30px;
   z-index: 1;
}


.position__absolute{
   position: relative;
}


.position__absolute-item--blue{
   opacity: 50%;
   position: absolute;
   top: 0px;
   z-index:2;
}

.position__content{
   width: 800px;
   background-color: rgb(171, 178, 178);
   margin: 0 auto 20px auto;
}

.list__item{
  padding-left: 40px;
  position: relative;
  font-size: 20px;
}

.list__item:not(:last-child){
   margin-bottom: 10px;
}

.list__item::before{
   content:'';
   background: url(../img/icon.svg) no-repeat;
   width: 30px;
   height: 30px;
   position:absolute ;
   background-size: contain;
  top: -3px;
  left: 0;
   
}

.position__menu{
   max-width: 500px;
   margin: 0 auto;
   background-color: rgb(187, 210, 140);
   
}

.menu__link{
   
   font-size: 20px;
   font-weight: 700;
   color: rgb(115, 43, 15);
}

.menu__item{
   position: relative;
}

.menu__item:not(:last-child){
   margin-bottom: 10px;
}

.sub-menu{
   background-color: rgb(44, 101, 215);
   min-width: 100px;
   text-align: right;
   font-size: 20px;
   padding: 10px;
   color: rgb(36, 18, 48);
   position: absolute ;
   left: 60px;
   top: 2px;
   opacity: 0;
   visibility: hidden;
}

.menu__item:hover .sub-menu{
   opacity: 1;
   visibility: visible;
}

.sub-menu__item:not(:last-child){
   margin-bottom: 10px;
}